<%- include('partials/header', { title: 'Page non trouvée',icon: '/images/ico.png'  }) %>

<div class="error-page">
    <h1>404</h1>
    <p>La page que vous recherchez n'existe pas.</p>
    <a href="/" class="btn">Retour à l'accueil</a>
</div>

<%- include('partials/footer') %>