<%- include('partials/header', { title: 'Erreur serveur',icon: '/images/ico.png'  }) %>

<div class="error-page">
    <h1>500</h1>
    <p>Une erreur serveur s'est produite. Veuillez réessayer plus tard.</p>
    <a href="/" class="btn">Retour à l'accueil</a>
</div>

<%- include('partials/footer') %>